<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Inventarios TAMBO+</title>
</head>
<body>
<h1>Admin - Datos Maestros:</h1>
<form th:action="@{/newTipoproducto}" method="post">
<button type="submit">Tipos de Productos</button>
</form><br/>
<form th:action="@{/newProducto}" method="post">
<button type="submit">Productos</button>
</form><br/>
<form th:action="@{/newEmpleado}" method="post">
<button type="submit">Empleados</button>
</form><br/>
<form th:action="@{/newEmpresa}" method="post">
<button type="submit">Empresas</button>
</form><br/>
<form th:action="@{/newProveedor}" method="post">
<button type="submit">Proveedores</button>
</form><br/>
<form th:action="@{/newCiudad}" method="post">
<button type="submit">Ciudades</button>
</form><br/>
<form th:action="@{/newAlmacen}" method="post">
<button type="submit">Almacenes</button>
</form><br/>
<form th:action="@{/newSitio}" method="post">
<button type="submit">Sitios</button>
</form><br/>
</body>
</html>